<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_order_processing>
            <custom_order_processing>
                <display_grid>1</display_grid>
            </custom_order_processing>
        </custom_order_processing>
    </default>
</config>
